.slider {
    width: 100%;
    height: 300px;
    padding: 20px 20px;
    &__pr {
        width: 450px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        transition: 0.6s all;
        @include tablet-small() {
            width: 350px;
        }
        @include mobile-large() {
            width: 300px;
        }
        @include mobile-small() {
            width: 250px;
        }
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: white;
        overflow: hidden;
        position: relative;
    }
    &__inner {
        /* width: 100%; */
        height: 100%;
        display: flex;
        position: absolute;
        transition: 0.8s all;
    }
    &__item {
        flex-shrink: 0;
        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__next {
        color: yellow;
        font-size: 50px;
        position: absolute;
        top: 50%;
        right: -65px;
        transform: translateY(-50%);
        cursor: pointer;
        @include tablet-small() {
            top: 91%;
            right: 1%;
        }
    }
    &__prev {
        color: yellow;
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: -65px;
        transform: translateY(-50%);
        cursor: pointer;
        @include tablet-small() {
            top: 91%;
            left: 1%;
        }
    }
}
