.timer {
    position: relative;
    width: 100%;
    min-height: 450px;
    /* max-height: 100%;
    min-height: 300px; */
    padding: 20px 20px;
    background-color: black;

    &__title {
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2rem;
        color: var(--header-link-color-white);
        text-align: center;
        @include mobile-large() {
            font-size: 1rem;
        }
    }
    &__wrap {
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%); */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        @include desctop-small() {
            gap: 20px;
        }
        @include mobile-large() {
            display: grid;
            grid-template-columns: repeat(2, 80px);
            justify-items: center;
        }
    }
    &__blocks {
        width: 150px;
        height: 200px;
        border: 1px solid var(--color-yellow);
        color: var(--color-yellow);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        transition: 0.8s all;
        @include tablet-medium() {
            width: 100px;
            height: 150px;
            font-size: 80px;
        }
        @include tablet-small() {
            width: 80px;
            height: 120px;
            font-size: 50px;
        }
    }
    &__text {
        text-transform: uppercase;
        text-align: center;
        color: var(--color-yellow);
        transition: 0.8s all;
        span {
            font-size: 1.5rem;
            font-weight: 600;
            @include tablet-small() {
                font-size: 0.8rem;
            }
        }
        @include desctop-small() {
        }
    }
    &__btn {
        display: block;
        width: 150px;
        height: 50px;
        margin: 0 auto;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 600;
        box-shadow: 4px 4px 10px yellow;
        text-transform: uppercase;
        cursor: pointer;
        &_active {
            width: 145px;
            height: 45px;
            box-shadow: 0 0 0 0;
            font-size: 0.9rem;
            transform: rotate();
        }
    }
}
