@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("/Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"),
    url("../fonts/?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"),
    url("../fonts/Gilroy-MediumItalic.woff") format("woff"),
    url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
